
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Style for the Footer */
  footer {
    margin-top: auto;
    text-align: center;
    background-color: #333;
    color: white; 
    padding: 10px;
  }
  